{% extends '../base_yt.html' %}
{% load static  %}

{% block body %}
 <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" style="text-align: center;" href="#page-top">Random Youtube Generator</a>      
    </div>
</nav>

<section class="signup-section" id="signup">
      <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">
                <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                <h2 class="text-white mb-5">Search for a video!</h2>
                <form class='form-inline d-flex' action="{% url 'YOUTUBE'%}" method='POST'>
                  {%csrf_token%}
                    <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" name="search" type="text" placeholder="Search..." />
                    <button class="btn btn-primary mx-auto" type="submit">GO</button>
                </form>
            </div>
        </div>
        <!-- Contact-->
        <section class=" bg-transparent">
                <div class="row">
                    {% if error_qouta%}
                        <div style="margin-top:50px; margin-left:400px;" class="alert alert-success alert-dismissible fade show" >
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{error_qouta}}</strong>
                        </div>
                    {% endif %}
                    {% if error_qouta%}
                        <div style="margin-top:50px; margin-left:400px;" class="alert alert-success alert-dismissible fade show" >
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{error_channe}}</strong>
                        </div>
                    {% endif %}

                    {% if error %}
                        <div style="margin-top:50px; margin-left:400px;" class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            <strong>{{error}}</strong>

                        </div>
                    {% endif %}
                    {% for result in random_video.items %}
                        <div style="margin-top:40px;" class="col-md-4 mb-3 mb-md-0">
                            <div class="card py-4 h-100">
                                <div class="card-body text-center">
                                    <img class="card-img-top" src="{{result.snippet.thumbnails.high.url}}" alt="Card image cap">
                                    <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                    <h4 class="text-uppercase m-0">{{result.snippet.title}}</h4>
                                    <hr class="my-4" />
                                    <a href="https://www.youtube.com/watch?v={{result.id}}" class="btn btn-primary">Watch Video</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>            
        </section>
    </div>
</section>



        


        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Your Website 2020</div></footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts.js' %}"></script>
    </footer>



<!--<div>
<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="{{random_video.thumbnails.high.url}}" alt="Card image cap">
    <div class="card-header">
    <h5 class="card-title">{{random_video.title}}</h5>
    </div>
  <div class="card-body">
    <p class="card-text">{{random_video.description}}</p>
    <a href="https://www.youtube.com/watch?v={{videoID}}" class="btn btn-primary">Watch Video</a>
  </div>
</div>-->


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    {% if result2 %}
      
      {{result2.items}}
    
    {% endif %}

    
    {% if error %}
      
      {{error}}
    
    {% endif %}

{% endblock body %}
